html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main, .main .aboutmi, .main2, .main3, .main3 .bg3, .main3 .two-blocks, .main4 .bg4, .main4 .testimonials-bg, .main4 .blocks, .main5, .main6, .main6 .shop-blocks, .main6 .aroma {
  max-width: 1600px;
  width: 100%;
  height: auto;
}

body {
  background-color: black;
}

.main {
  margin: 0 auto;
}

.main .bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/img.png);
  height: 800px;
}

.main .bg .navigation {
  width: 100%;
  border-bottom: white 1px solid;
  background: rgba(30, 30, 31, 0.73);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main .bg .navigation .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main .bg .navigation .nav-ul .nav-li {
  max-width: 178px;
  height: 80px;
  border-top: none;
  padding: 30px;
  cursor: pointer;
  border-top: none;
}

.main .bg .navigation .nav-ul .nav-li .nav-a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.main .bg .navigation .nav-ul .nav-li .fab {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.main .bg .navigation .nav-ul .active-li {
  border-bottom: 5px white solid;
}

.main .bg .navigation .nav-ul .nav-li:hover {
  border-bottom: 5px white solid;
}

.main .bg .navigation .contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main .bg .navigation .contactBlock .fa-search,
.main .bg .navigation .contactBlock .fa-shopping-bag {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.main .bg .navigation .contactBlock .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #70706c;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
}

.main .bg .navigation .contactBlock .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main .bg .navigation .contactBlock .conactUs:hover {
  background-color: #5c5956;
}

@media (max-width: 1284px) {
  .main .bg .navigation .contactBlock {
    display: none;
  }
}

.main .bg .navigation .burger-bar {
  display: none;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 940px) {
  .main .bg .navigation .burger-bar {
    display: block;
  }
}

.main .bg .header-text-block {
  max-width: 1000px;
  height: auto;
  margin: 200px auto 0;
  padding-bottom: 150px;
}

.main .bg .header-text-block .soMuch {
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.main .bg .header-text-block .header-p {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main .bg .header-text-block .getIt {
  max-width: 230px;
  height: 62px;
  background-color: #171818;
  border-radius: 30px;
  padding: 22px 35px;
  margin: 0 auto;
  cursor: pointer;
}

.main .bg .header-text-block .getIt .getItText {
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.main .bg .header-text-block .getIt:hover {
  background-color: black;
}

.main .hiThere {
  max-width: 1600px;
  width: 100%;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main .hiThere .hiThere-left {
  max-width: 700px;
  width: 100%;
  height: auto;
  padding: 80px;
}

.main .hiThere .hiThere-left .left-inner {
  max-width: 418px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.main .hiThere .hiThere-left .left-inner .fa-coffee {
  color: #3d3b37;
  font-size: 22px;
}

.main .hiThere .hiThere-left .left-inner .hiThereText {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: white;
}

.main .hiThere .hiThere-left .left-inner .hiThereH3 {
  color: black;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  margin-top: 20px;
  border-bottom: 4px black solid;
  color: white;
}

.main .hiThere .hiThere-left .left-inner .title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

.main .hiThere .hiThere-left .left-inner .hiThereP {
  color: black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
}

.main .hiThere .hiThere-left .left-inner .join {
  max-width: 270px;
  width: 100%;
  height: 72px;
  background-color: #444442;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.main .hiThere .hiThere-left .left-inner .join:hover {
  background-color: #38373f;
}

.main .hiThere .hiThere-right {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.main .hiThere .hiThere-right .image {
  width: 100%;
  height: 100%;
}

.main .aboutmi {
  margin-top: 100px;
}

.main .aboutmi .first-block {
  max-width: 836px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main .aboutmi .first-block .info {
  max-width: 750px;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.main .aboutmi .first-block .info .what:hover {
  color: #523939;
}

.main .aboutmi .second-block {
  display: none;
  max-width: 384px;
  margin: 0 auto;
}

.main .aboutmi .second-block .AboutMassCafe {
  font-size: 48px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 50px 0;
}

.main .aboutmi .second-block .massP {
  color: white;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main .aboutmi .second-block-active .second-block {
  display: block;
  background-color: #2c2c2c;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.main .aboutmi .third-block {
  width: 100%;
  height: auto;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main .aboutmi .third-block .block {
  max-width: 376px;
  width: 100%;
  height: auto;
  padding: 400px 25px 25px;
  background-color: #191C28;
}

.main .aboutmi .third-block .block .block-title {
  color: white;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.main .aboutmi .third-block .block .whiteline {
  max-width: 80px;
  height: 2px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main .aboutmi .third-block .block .blockP {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  max-width: 300px;
}

.main .aboutmi .third-block .block:nth-child(1) {
  background-image: url(../images/block1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .aboutmi .third-block .block:nth-child(2) {
  background-image: url(../images/blcok2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 25px;
}

.main .aboutmi .third-block .block:nth-child(2) .learnMore {
  max-width: 280px;
  width: 100%;
  height: 52px;
  border: white 1px solid;
  border-radius: 25px;
  background-color: #504f4b;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.main .aboutmi .third-block .block:nth-child(2) .learnMore:hover {
  background-color: white;
  color: black;
}

.main .aboutmi .third-block .block:nth-child(3) {
  background-image: url(../images/blcok3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .aboutmi .third-block .block:nth-child(4) {
  background-image: url(../images/block4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main .mapSection {
  width: 100%;
  margin-top: 100px;
}

.main .mapSection .OurLoc {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
}

.main .mapSection .map {
  max-width: 1300px;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main .mapSection .map .maap {
  width: 100%;
  height: 90vh;
}

.main .footer-line {
  max-width: 1000px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
}

.main .copyright {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.main .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  padding: 30px;
}

.main .footer-block .footer-p {
  max-width: 376px;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main .footer-block .footer-li {
  margin-bottom: 20px;
}

.main .footer-block .footer-li .footer-a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main .footer-block .footer-li .footer-a .fab {
  margin-right: 15px;
}

.main .footer-block .getSpecial {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main .footer-block .mail-block {
  max-width: 376px;
  width: 100%;
  height: 56px;
  margin-top: 20px;
}

.main .footer-block .mail-block .email {
  width: 100%;
  height: 56px;
  background-color: #38373f;
  border: none;
  opacity: 0.6;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.main2 {
  margin: 0 auto;
}

.main2 .bg2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/coffee-3224527_960_720.jpg);
  height: 90vh;
}

.main2 .bg2 .navigation {
  width: 100%;
  border-bottom: white 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background: rgba(30, 30, 31, 0.73);
}

.main2 .bg2 .navigation .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main2 .bg2 .navigation .nav-ul .nav-li {
  max-width: 178px;
  height: 80px;
  border-top: none;
  padding: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main2 .bg2 .navigation .nav-ul .nav-li .nav-a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.main2 .bg2 .navigation .nav-ul .nav-li .nav-a:hover {
  color: #7c7c74;
}

.main2 .bg2 .navigation .nav-ul .nav-li .fab {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.main2 .bg2 .navigation .nav-ul .active-li {
  border-bottom: 5px white solid;
}

.main2 .bg2 .navigation .contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main2 .bg2 .navigation .contactBlock .fa-search,
.main2 .bg2 .navigation .contactBlock .fa-shopping-bag {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.main2 .bg2 .navigation .contactBlock .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #70706c;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
}

.main2 .bg2 .navigation .contactBlock .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main2 .bg2 .navigation .contactBlock .conactUs:hover {
  background-color: #5c5956;
}

@media (max-width: 1284px) {
  .main2 .bg2 .navigation .contactBlock {
    display: none;
  }
}

.main2 .bg2 .navigation .burger-bar {
  display: none;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 940px) {
  .main2 .bg2 .navigation .burger-bar {
    display: block;
  }
}

.main2 .bg2 .header-text-block {
  max-width: 1000px;
  height: auto;
  margin: 200px auto 0;
  padding-bottom: 150px;
}

.main2 .bg2 .header-text-block .soMuch {
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main2 .bg2 .header-text-block .header-p {
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main2 .bg2 .header-text-block .coffeeBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 630px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main2 .bg2 .header-text-block .coffeeBtns .testyCoffe {
  max-width: 250px;
  width: 100%;
  height: 70px;
  background-color: #70706c;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
}

.main2 .bg2 .header-text-block .coffeeBtns .testyCoffe:hover {
  background-color: #161816;
}

.main2 .bg2 .header-text-block .coffeeBtns .learnMore {
  max-width: 250px;
  width: 100%;
  height: 70px;
  border: 2px white solid;
  background-color: unset;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
}

.main2 .bg2 .header-text-block .coffeeBtns .learnMore:hover {
  background-color: white;
  color: #70706c;
}

.main2 .bg2 .Finest-Beans {
  color: white;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main2 .bg2 .cite {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.main2 .bg2 .coffee-imgs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 70px auto 0;
  background: rgba(28, 28, 29, 0.73);
}

.main2 .bg2 .coffee-imgs .package1 {
  max-width: 650px;
  width: 100%;
  height: auto;
  border: 2px white solid;
}

.main2 .bg2 .coffee-imgs .package1 .image {
  width: 100%;
  height: 100%;
}

.main2 .bg2 .coffee-imgs .package2 {
  max-width: 650px;
  width: 100%;
  height: auto;
  border: 2px white solid;
}

.main2 .bg2 .coffee-imgs .package2 .image {
  width: 100%;
  height: 100%;
}

.main2 .bg2 .coffee-imgs .package3 {
  max-width: 650px;
  width: 100%;
  height: auto;
  border: 2px white solid;
}

.main2 .bg2 .coffee-imgs .package3 .image {
  width: 100%;
  height: 100%;
}

.main2 .saleCoffee {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 150px auto 0;
}

.main2 .saleCoffee .fa-coffee {
  color: #332b22;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.main2 .saleCoffee .seeAllAndSpecial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.main2 .saleCoffee .seeAllAndSpecial .OURPOPULAR {
  color: white;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main2 .saleCoffee .seeAllAndSpecial .seeAll {
  max-width: 250px;
  width: 100%;
  height: 60px;
  background-color: #332b22;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 45px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.main2 .saleCoffee .seeAllAndSpecial .seeAll .seeAll-a {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main2 .saleCoffee .seeAllAndSpecial .seeAll:hover {
  background-color: #5f5a55;
}

.main2 .saleCoffee .block {
  color: grey;
  font-size: 25px;
  font-weight: bold;
}

.main2 .saleCoffee .rotated {
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.main2 .saleCoffee .sales-block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px auto 0;
}

.main2 .saleCoffee .sales-block .sale {
  max-width: 400px;
  width: 100%;
  height: auto;
  background-color: #52524c;
  padding: 30px;
  margin-bottom: 20px;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .heart {
  color: red;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .links-block {
  height: auto;
  display: flex;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .links-block .fa-link {
  color: white;
  font-size: 1.2rem;
  background-color: #42403b;
  padding: 10px;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .links-block .links {
  display: none;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .links-block .links .fab {
  color: white;
  font-size: 1.2rem;
  background-color: #42403b;
  padding: 8px;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .links-block .link-active {
  display: flex;
}

.main2 .saleCoffee .sales-block .sale .heartAndLinks .fa-heart {
  color: white;
  font-size: 1.2rem;
  background-color: #42403b;
  padding: 10px;
}

.main2 .saleCoffee .sales-block .sale .coffeepack {
  max-width: 200px;
  width: 100%;
  height: 300px;
  margin: 10px auto;
}

.main2 .saleCoffee .sales-block .sale .coffeepack .image {
  width: 100%;
}

.main2 .saleCoffee .sales-block .sale .STIMY {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.main2 .saleCoffee .sales-block .sale .priceAndCart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.main2 .saleCoffee .sales-block .sale .priceAndCart .price {
  max-width: 100px;
  width: 100%;
  height: 40px;
  background-color: #534535;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  padding: 10px 25px;
  border-radius: 10px;
}

.main2 .saleCoffee .sales-block .sale .priceAndCart .addCart {
  max-width: 100px;
  width: 100%;
  height: 40px;
  border: 2px #332b22 solid;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding: 11px 20px;
  white-space: nowrap;
  cursor: pointer;
}

.main2 .saleCoffee .sales-block .sale .priceAndCart .addCart:hover {
  background-color: #332b22;
}

.main2 .SPECIALMENU {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/aa.jpeg);
  padding: 30px;
}

.main2 .SPECIALMENU .CAFENOD {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 100px;
}

.main2 .SPECIALMENU .list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 25px auto 0;
}

.main2 .SPECIALMENU .list-ul .list-li {
  color: #8f8c8c;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.main2 .SPECIALMENU .list-ul .list-li:hover {
  color: white;
}

.main2 .SPECIALMENU .coffee-blocks {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .cofimg {
  max-width: 250px;
  width: 100%;
  height: 200px;
  border: 2px white solid;
  opacity: 0.5;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .cofimg .image {
  width: 100%;
  height: 100%;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .cofimg:hover {
  opacity: 1;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .texts {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .texts .AMERICANO {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .texts .Thecoffee {
  color: #a5a2a2;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.main2 .SPECIALMENU .coffee-blocks .Cblock .prices {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.main2 .SPECIALMENU .coffee-blocks .cactive {
  display: none;
}

.main2 .SPECIALMENU .coffee-blocks .cblock {
  display: block;
}

.main2 .footer-line {
  max-width: 1000px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
}

.main2 .copyright {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.main2 .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  padding: 30px;
}

.main2 .footer-block .footer-p {
  max-width: 376px;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main2 .footer-block .footer-li {
  margin-bottom: 20px;
}

.main2 .footer-block .footer-li .footer-a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main2 .footer-block .footer-li .footer-a .fab {
  margin-right: 15px;
}

.main2 .footer-block .getSpecial {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main2 .footer-block .mail-block {
  max-width: 376px;
  width: 100%;
  height: 56px;
  margin-top: 20px;
}

.main2 .footer-block .mail-block .email {
  width: 100%;
  height: 56px;
  background-color: #38373f;
  border: none;
  opacity: 0.6;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.main3 {
  margin: 0 auto;
}

.main3 .bg3 {
  background-image: url(../images/photo-1543191878-f6a3e470454e.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.main3 .bg3 .navigation {
  width: 100%;
  border-bottom: white 1px solid;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(30, 30, 31, 0.73);
}

.main3 .bg3 .navigation .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main3 .bg3 .navigation .nav-ul .nav-li {
  max-width: 178px;
  height: 80px;
  border-top: none;
  padding: 30px;
  cursor: pointer;
}

.main3 .bg3 .navigation .nav-ul .nav-li .nav-a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.main3 .bg3 .navigation .nav-ul .nav-li .fab {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.main3 .bg3 .navigation .nav-ul .active-li {
  border-bottom: 5px white solid;
}

.main3 .bg3 .navigation .contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main3 .bg3 .navigation .contactBlock .fa-search,
.main3 .bg3 .navigation .contactBlock .fa-shopping-bag {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.main3 .bg3 .navigation .contactBlock .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #70706c;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
}

.main3 .bg3 .navigation .contactBlock .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main3 .bg3 .navigation .contactBlock .conactUs:hover {
  background-color: #5c5956;
}

@media (max-width: 1284px) {
  .main3 .bg3 .navigation .contactBlock {
    display: none;
  }
}

.main3 .bg3 .navigation .burger-bar {
  display: none;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 940px) {
  .main3 .bg3 .navigation .burger-bar {
    display: block;
  }
}

.main3 .bg3 .OurLocations {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 70px;
}

.main3 .bg3 .Colorfuldays {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 20px;
}

.main3 .bg3 .locations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 160px;
}

.main3 .bg3 .locations .storeLoc {
  max-width: 200px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: rgba(30, 30, 31, 0.73);
  padding-top: 30px;
}

.main3 .bg3 .locations .storeLoc .fa-map-marker-alt {
  color: #FF7644;
  font-size: 22px;
  text-align: center;
}

.main3 .bg3 .locations .storeLoc .store {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
}

.main3 .bg3 .locations .storeLoc .orangeLine {
  max-width: 28px;
  width: 100%;
  height: 2px;
  background-color: #FF7644;
  margin: 0 auto;
}

.main3 .two-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.main3 .two-blocks .left-block {
  max-width: 550px;
  width: 100%;
  height: auto;
  background-color: #272522;
  padding: 55px;
  display: flex;
  flex-direction: column;
}

.main3 .two-blocks .left-block .MassImpressions,
.main3 .two-blocks .left-block .leftBlockP {
  color: white;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.main3 .two-blocks .left-block .store {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
}

.main3 .two-blocks .left-block .visitUs {
  max-width: 240px;
  width: 100%;
  height: 72px;
  background-color: #4e4e4e;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin: 20px auto 0;
  cursor: pointer;
}

.main3 .two-blocks .left-block .visitUs:hover {
  background-color: white;
  color: black;
}

.main3 .two-blocks .left-block .Sustainable {
  color: white;
  font-size: 4rem;
  width: 376px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main3 .two-blocks .right-block {
  max-width: 580px;
  width: 100%;
  height: auto;
}

.main3 .two-blocks .right-block .image {
  width: 100%;
  height: 100%;
}

.main3 .onInstagram {
  color: white;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.main3 .Sayhello {
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.main3 .footer-line {
  max-width: 1000px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
}

.main3 .copyright {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.main3 .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  padding: 30px;
}

.main3 .footer-block .footer-p {
  max-width: 376px;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main3 .footer-block .footer-li {
  margin-bottom: 20px;
}

.main3 .footer-block .footer-li .footer-a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main3 .footer-block .footer-li .footer-a .fab {
  margin-right: 15px;
}

.main3 .footer-block .getSpecial {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main3 .footer-block .mail-block {
  max-width: 376px;
  width: 100%;
  height: 56px;
  margin-top: 20px;
}

.main3 .footer-block .mail-block .email {
  width: 100%;
  height: 56px;
  background-color: #38373f;
  border: none;
  opacity: 0.6;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.main4 .bg4 {
  background-image: url(../images/breadcrumb_bg_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main4 .bg4 .navigation {
  width: 100%;
  border-bottom: white 1px solid;
  background: rgba(30, 30, 31, 0.73);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main4 .bg4 .navigation .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main4 .bg4 .navigation .nav-ul .nav-li {
  max-width: 178px;
  height: 80px;
  border-top: none;
  padding: 30px;
  cursor: pointer;
  border-top: none;
}

.main4 .bg4 .navigation .nav-ul .nav-li .nav-a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.main4 .bg4 .navigation .nav-ul .nav-li .fab {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.main4 .bg4 .navigation .nav-ul .active-li {
  border-bottom: 5px white solid;
}

.main4 .bg4 .navigation .nav-ul .nav-li:hover {
  border-bottom: 5px white solid;
}

.main4 .bg4 .navigation .contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main4 .bg4 .navigation .contactBlock .fa-search,
.main4 .bg4 .navigation .contactBlock .fa-shopping-bag {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.main4 .bg4 .navigation .contactBlock .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #70706c;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
}

.main4 .bg4 .navigation .contactBlock .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main4 .bg4 .navigation .contactBlock .conactUs:hover {
  background-color: #5c5956;
}

@media (max-width: 1284px) {
  .main4 .bg4 .navigation .contactBlock {
    display: none;
  }
}

.main4 .bg4 .navigation .burger-bar {
  display: none;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 940px) {
  .main4 .bg4 .navigation .burger-bar {
    display: block;
  }
}

.main4 .meet {
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-size: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 100px;
}

.main4 .testimonials-bg {
  background-image: url(../images);
  background-size: cover;
  background-repeat: no-repeat;
}

.main4 .testimonials-bg .comments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.main4 .testimonials-bg .comments .list {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  height: auto;
  padding: 30px;
}

.main4 .testimonials-bg .comments .list .userName {
  color: white;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.main4 .testimonials-bg .comments .list .userImg {
  width: 170px;
  height: 150px;
  border: 5px #413d3a solid;
}

.main4 .testimonials-bg .comments .list .paragraph {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.main4 .testimonials-bg .btns {
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main4 .testimonials-bg .btns .fas {
  color: white;
  font-size: 45px;
}

.main4 .values {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: white;
  margin-top: 100px;
}

.main4 .blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px auto 0;
}

.main4 .blocks .block {
  max-width: 600px;
  width: 100%;
  height: auto;
  background-color: #3d3b37;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main4 .blocks .block .peoplefirst {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.main4 .blocks .block .line {
  background-color: black;
  max-width: 500px;
  width: 100%;
  height: 2px;
  margin: 50px 0;
}

.main4 .blocks .block .paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.main4 .blocks .block .img {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 25px auto 0;
}

.main4 .blocks .block .img .image {
  width: 100%;
  border-radius: 10px;
}

.main4 .blocks .block:hover {
  background-color: #92928f;
}

.main4 .footer-line {
  max-width: 1000px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
}

.main4 .copyright {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.main4 .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  padding: 30px;
}

.main4 .footer-block .footer-p {
  max-width: 376px;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main4 .footer-block .footer-li {
  margin-bottom: 20px;
}

.main4 .footer-block .footer-li .footer-a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main4 .footer-block .footer-li .footer-a .fab {
  margin-right: 15px;
}

.main4 .footer-block .getSpecial {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main4 .footer-block .mail-block {
  max-width: 376px;
  width: 100%;
  height: 56px;
  margin-top: 20px;
}

.main4 .footer-block .mail-block .email {
  width: 100%;
  height: 56px;
  background-color: #38373f;
  border: none;
  opacity: 0.6;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.main5 .bg5 {
  width: 100%;
  height: auto;
  background-image: url(../images/breadcrumb_bg_01.jpg);
  padding-bottom: 100px;
}

.main5 .bg5 .navigation {
  width: 100%;
  border-bottom: white 1px solid;
  background: rgba(30, 30, 31, 0.73);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main5 .bg5 .navigation .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main5 .bg5 .navigation .nav-ul .nav-li {
  max-width: 178px;
  height: 80px;
  border-top: none;
  padding: 30px;
  cursor: pointer;
  border-top: none;
}

.main5 .bg5 .navigation .nav-ul .nav-li .nav-a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.main5 .bg5 .navigation .nav-ul .nav-li .fab {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.main5 .bg5 .navigation .nav-ul .active-li {
  border-bottom: 5px white solid;
}

.main5 .bg5 .navigation .nav-ul .nav-li:hover {
  border-bottom: 5px white solid;
}

.main5 .bg5 .navigation .contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main5 .bg5 .navigation .contactBlock .fa-search,
.main5 .bg5 .navigation .contactBlock .fa-shopping-bag {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.main5 .bg5 .navigation .contactBlock .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #70706c;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
}

.main5 .bg5 .navigation .contactBlock .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main5 .bg5 .navigation .contactBlock .conactUs:hover {
  background-color: #5c5956;
}

@media (max-width: 1284px) {
  .main5 .bg5 .navigation .contactBlock {
    display: none;
  }
}

.main5 .bg5 .navigation .burger-bar {
  display: none;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 940px) {
  .main5 .bg5 .navigation .burger-bar {
    display: block;
  }
}

.main5 .bg5 .CONTACTUS {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
  margin-top: 100px;
  text-align: center;
}

.main5 .bg5 .homeandcontact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  height: auto;
  margin: 0 auto;
}

.main5 .bg5 .homeandcontact .home-a {
  color: white;
  font-family: "Roboto", sans-serif;
}

.main5 .bg5 .homeandcontact .contact-a {
  color: burlywood;
  font-family: "Roboto", sans-serif;
}

.main5 .information-block {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  background-color: #e2e2e2;
  padding: 80px;
}

.main5 .information-block .information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.main5 .information-block .information .inner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.main5 .information-block .information .inner-info .fa-envelope,
.main5 .information-block .information .inner-info .fa-map-marker-alt,
.main5 .information-block .information .inner-info .fa-phone {
  font-size: 1.5rem;
  color: #746453;
  background-color: #e7e7e5;
  padding: 30px;
}

.main5 .information-block .information .inner-info .ADRESS {
  display: flex;
  flex-direction: column;
}

.main5 .information-block .information .inner-info .ADRESS .EMAILADRESS {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.main5 .information-block .information .inner-info .ADRESS .mails {
  color: #38373f;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.main5 .information-block .information .inner-info .add {
  margin-left: 25px;
}

.main5 .information-block .forms .inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.main5 .information-block .forms .inputs .nameinp {
  max-width: 500px;
  width: 100%;
  height: 50px;
  outline: none;
  padding: 15px;
  background-color: #f8f2f2;
  border: none;
  margin-bottom: 20px;
}

.main5 .information-block .forms .inputs .nameinp::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.main5 .information-block .forms .textarea {
  max-width: 1120px;
  width: 100%;
  height: 180px;
  background-color: #f8f2f2;
  border: none;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.main5 .information-block .forms .sendMassage {
  max-width: 200px;
  width: 100%;
  height: 60px;
  background-color: #332b22;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.main5 .information-block .forms .sendMassage:hover {
  background-color: #3a3936;
}

.main5 .map {
  max-width: 1300px;
  width: 100%;
  height: 90vh;
  margin: 100px auto 0;
}

.main5 .map .maap {
  width: 100%;
}

.main5 .footer-line {
  max-width: 1000px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
}

.main5 .copyright {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.main5 .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  padding: 30px;
}

.main5 .footer-block .footer-p {
  max-width: 376px;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main5 .footer-block .footer-li {
  margin-bottom: 20px;
}

.main5 .footer-block .footer-li .footer-a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main5 .footer-block .footer-li .footer-a .fab {
  margin-right: 15px;
}

.main5 .footer-block .getSpecial {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main5 .footer-block .mail-block {
  max-width: 376px;
  width: 100%;
  height: 56px;
  margin-top: 20px;
}

.main5 .footer-block .mail-block .email {
  width: 100%;
  height: 56px;
  background-color: #38373f;
  border: none;
  opacity: 0.6;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.main6 .bg6 {
  width: 100%;
  height: auto;
  background-image: url(../images/img.png);
  padding-bottom: 100px;
}

.main6 .bg6 .navigation {
  width: 100%;
  border-bottom: white 1px solid;
  background: rgba(30, 30, 31, 0.73);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main6 .bg6 .navigation .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main6 .bg6 .navigation .nav-ul .nav-li {
  max-width: 178px;
  height: 80px;
  border-top: none;
  padding: 30px;
  cursor: pointer;
  border-top: none;
}

.main6 .bg6 .navigation .nav-ul .nav-li .nav-a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.main6 .bg6 .navigation .nav-ul .nav-li .fab {
  font-size: 16px;
  color: white;
  margin-left: 8px;
}

.main6 .bg6 .navigation .nav-ul .active-li {
  border-bottom: 5px white solid;
}

.main6 .bg6 .navigation .nav-ul .nav-li:hover {
  border-bottom: 5px white solid;
}

.main6 .bg6 .navigation .contactBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main6 .bg6 .navigation .contactBlock .fa-search,
.main6 .bg6 .navigation .contactBlock .fa-shopping-bag {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.main6 .bg6 .navigation .contactBlock .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #70706c;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
}

.main6 .bg6 .navigation .contactBlock .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main6 .bg6 .navigation .contactBlock .conactUs:hover {
  background-color: #5c5956;
}

@media (max-width: 1284px) {
  .main6 .bg6 .navigation .contactBlock {
    display: none;
  }
}

.main6 .bg6 .navigation .burger-bar {
  display: none;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5%;
  right: 10%;
}

@media (max-width: 940px) {
  .main6 .bg6 .navigation .burger-bar {
    display: block;
  }
}

.main6 .shop-blocks {
  margin: 100px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main6 .shop-blocks .shopBlock {
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
  height: auto;
  background-color: #8f8f8f;
  padding: 30px;
  border-radius: 10px;
}

.main6 .shop-blocks .shopBlock .icons1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main6 .shop-blocks .shopBlock .icons1 .icon {
  max-width: 40px;
  width: 100%;
  height: 48px;
}

.main6 .shop-blocks .shopBlock .icons1 .icon .image {
  width: 100%;
  height: 100%;
}

.main6 .shop-blocks .shopBlock .icons1 .number {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.main6 .shop-blocks .shopBlock .AWESOMAE {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin: 20px 0;
  font-weight: bold;
}

.main6 .shop-blocks .shopBlock .brewed {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.main6 .shop-blocks .shopBlock:hover {
  background-color: #cfcfcd;
}

.main6 .aroma {
  margin: 100px auto 0;
}

.main6 .aroma .textandphoto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main6 .aroma .textandphoto .textss {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.main6 .aroma .textandphoto .textss .fa-coffee {
  color: #574e3d;
  font-size: 1.5rem;
}

.main6 .aroma .textandphoto .textss .WHATWE {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.main6 .aroma .textandphoto .textss .DIVINE {
  color: white;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 50px 0;
}

.main6 .aroma .textandphoto .textss .standpoint {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main6 .aroma .textandphoto .cofimg {
  max-width: 590px;
  width: 100%;
  height: auto;
}

.main6 .aroma .textandphoto .cofimg .image {
  width: 100%;
}

.main6 .aroma .details-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.main6 .aroma .details-block .detail {
  max-width: 400px;
  width: 100%;
  height: auto;
  background-color: gray;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main6 .aroma .details-block .detail .reservandheart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.main6 .aroma .details-block .detail .reservandheart .RESERVATION {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.main6 .aroma .details-block .detail .reservandheart .fa-heart {
  color: white;
  font-size: 1.2rem;
}

.main6 .aroma .details-block .detail .inner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.main6 .aroma .details-block .detail .inner-info .fa-envelope,
.main6 .aroma .details-block .detail .inner-info .fa-map-marker-alt,
.main6 .aroma .details-block .detail .inner-info .fa-phone {
  font-size: 1.5rem;
  color: #746453;
  background-color: #e7e7e5;
  max-width: 50px;
  width: 100%;
  height: 50px;
  padding: 13px 14px;
}

.main6 .aroma .details-block .detail .inner-info .ADRESS {
  display: flex;
  flex-direction: column;
}

.main6 .aroma .details-block .detail .inner-info .ADRESS .EMAILADRESS {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.main6 .aroma .details-block .detail .inner-info .ADRESS .mails {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.main6 .aroma .details-block .detail .inner-info .add {
  margin-left: 75px;
}

.main6 .aroma .details-block .detail .conactUs {
  max-width: 163px;
  width: 100%;
  height: 50px;
  background-color: #4d4d4b;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px 30px;
  margin: 40px auto 0;
}

.main6 .aroma .details-block .detail .conactUs .contact-a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.main6 .aroma .details-block .detail .conactUs:hover {
  background-color: #5c5956;
}

.main6 .aroma .details-block .detail:nth-child(2) {
  max-width: 400px;
  width: 100%;
  height: 503px;
  background-color: #1f1e1e;
}

.main6 .aroma .details-block .detail:nth-child(2) .fa-clock {
  color: white;
  font-size: 1.2rem;
}

.main6 .aroma .details-block .detail:nth-child(2) .grafic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.main6 .aroma .details-block .detail:nth-child(2) .grafic .day,
.main6 .aroma .details-block .detail:nth-child(2) .grafic .hour {
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main6 .aroma .details-block .detail:nth-child(3) {
  max-width: 400px;
  width: 100%;
  height: 503px;
}

.main6 .aroma .details-block .detail:nth-child(3) .fa-gift {
  color: white;
  font-size: 1.2rem;
}

.main6 .aroma .details-block .detail:nth-child(3) .salee {
  max-width: 360px;
  width: 100%;
  height: auto;
  margin-top: 70px;
}

.main6 .aroma .details-block .detail:nth-child(3) .salee .image {
  width: 100%;
}

.main6 .footer-line {
  max-width: 1000px;
  background-color: white;
  height: 1px;
  margin: 0 auto;
}

.main6 .copyright {
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.main6 .footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
  padding: 30px;
}

.main6 .footer-block .footer-p {
  max-width: 376px;
  width: 100%;
  height: auto;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main6 .footer-block .footer-li {
  margin-bottom: 20px;
}

.main6 .footer-block .footer-li .footer-a {
  font-size: 1.2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.main6 .footer-block .footer-li .footer-a .fab {
  margin-right: 15px;
}

.main6 .footer-block .getSpecial {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main6 .footer-block .mail-block {
  max-width: 376px;
  width: 100%;
  height: 56px;
  margin-top: 20px;
}

.main6 .footer-block .mail-block .email {
  width: 100%;
  height: 56px;
  background-color: #38373f;
  border: none;
  opacity: 0.6;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: none;
}

@media (max-width: 940px) {
  .nav {
    display: none;
  }
  .navigation {
    flex-direction: column;
    align-items: unset;
  }
  .nav-ul {
    flex-direction: column;
  }
  .nav.active {
    display: block;
  }
}

@media (max-width: 1090px) {
  .icons {
    display: none;
  }
}

@media (max-width: 1359px) {
  .block {
    margin-bottom: 15px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  display: flex;
}

.slider-item {
  width: 350px;
  height: 250px;
  margin: 10px;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slider {
  padding: 50px;
}
/*# sourceMappingURL=global.css.map */