@media (max-width: 940px) {
    .nav {
        display: none;
    }
    .navigation {
        flex-direction: column;
        align-items: unset;
    }
    .nav-ul {
        flex-direction: column;
    }
    .nav.active {
        display: block;
    }
}
@media (max-width: 1090px) {
    .icons {
        display: none;
    }
}
@media (max-width: 1359px) {
    .block {
        margin-bottom: 15px;
    }
}