body {
    background-color: $maincolor;
}
.main {
    @extend %mainsize;
    .bg {
        @include backgroundimg(cover, no-repeat);
        background-image: url(../images/photo-1442512595331-e89e73853f31.jpeg);
        .navigation {
            width: $width;
            border-bottom: $white 1px solid;
            @include flex (flex, space-around, center);
            .nav-ul {
                @include flex (flex, space-between, center);
                flex-wrap: wrap;
                .nav-li {
                    max-width: 170px;
                    height: 80px;
                    border-top: none;
                    padding: $padding20;
                    cursor: pointer;
                    .nav-a {
                        color: $white;
                        font-family: $font-family;
                        font-size: $font14;
                        text-transform: uppercase;
                    }
                    .fab {
                        font-size: $font16;
                        color: $white;
                        margin-left: $margin-left8;
                    }
                }
                .nav-li {
                    &:hover {
                        background-color: rgb(31, 31, 53);
                    }
                }
                @media (max-width: 940px) {
                    .nav-li {
                        display: none;
                    }
                }
                @media (max-width: 1090px) {
                    .icons {
                        display: none;
                    }
                }
            }
            .burger-bar {
                display: none;
            }
        }
        .header-text-block {
            max-width: 1000px;
            height: auto;
            margin: 378px auto 0;
            padding-bottom: 100px;
            .soMuch {
                text-align: center;
                font-size: 80px;
                color: $white;
                font-family: $font-family;
            }
            .header-p {
                color: $white;  
                text-align: center;
                font-size: $font22;
                font-family: $font-family;
                margin-top: $margin-top20;
                margin-bottom: $margin-bottom20;
            }
            .getIt {
                max-width: 230px;
                height: 62px;
                background-color: #FF7644;
                border-radius: 30px;
                padding: 22px 35px;
                margin: $margin0auto;
                cursor: pointer;
                .getItText {
                    color: $white;
                    font-size: $font16;
                    font-family: $font-family;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
        }
    }
}
.hiThere {
    width: $width;
    margin-top: 300px;
    @include flex (flex, center, center);
    flex-wrap: wrap;
    .hiThere-left {
        max-width: 600px;
        width: $width;
        height: 404px;
        background-color: #0e0e19;
        padding-top: 80px;
        .left-inner {
            max-width: 376px;
            width: $width;
            height: auto;
            margin: $margin0auto;
            .hiThereText {
                color: $white;
                font-size: $font16;
                text-transform: uppercase;
                font-family: $font-family;
            }
            .hiThereH3 {
                color: $white;
                font-size: 45px;
                font-family: $font-family;
                text-transform: capitalize;
                margin-top: $margin-top20;
            }
            .hiThereP {
                color: $white;
                font-size: $font16;
                font-family: $font-family;
                margin-top: $margin-top20;
                margin-bottom: $margin-bottom20;
            }
            .join {
                max-width: 270px;
                width: $width;
                height: 72px;
                background-color: $orange;
                border-radius: 36px;
                border: none;
                color: $white;
                font-size: $font16;
                font-family: $font-family;
            }
        }
    }
    .hiThere-right {
        max-width: 600px;
        width: $width;
        height: auto;
        .image {
            width: $width;
            height: 100%;
        }
    }
}
.aboutmi {
    @extend %mainsize;
    margin-top: 200px;
    .first-block {
        max-width: 536px;
        @include flex(flex, space-around, center);
        margin: $margin0auto;
        .info {
            max-width: 119px;
            color: $white;
            font-family: $font-family;
        }
    }
    .second-block {
        max-width: 784px;
        margin: $margin0auto;
        .AboutMassCafe {
            font-size: 48px;
            color: $white;
            font-family: $font-family;
            text-align: center;
            margin: 50px 0;
        }
        .massP {
            color: $white;
            font-size: $font22;
            font-family: $font-family;
            text-align: center;
        }
    }
}