//colors
$white: white;
$black: black;
$maincolor: #212433;

//width100
$width: 100%;

//spacing
$padding20: 30px;
$margin-left8: 8px;

//font-family
$font-family: 'Roboto', sans-serif;

//font-sizes
$font14: 14px;
$font16: 16px;